packages/terraform/state_machine.asl.json
{
  "StartAt": "Generate Data",
  "States": {
    "Generate Data": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Generate Title",
          "States": {
            "Generate Title": {
              "Type": "Task",
              "Resource": "${generateTitleArn}",
              "ResultPath": "$.title",
              "End": true
            }
          }
        },
        {
          "StartAt": "Generate Text",
          "States": {
            "Generate Text": {
              "Type": "Task",
              "Resource": "${generateTextArn}",
              "End": true
            }
          }
        }
      ],
      "Next": "Randomise Card",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Failure"
        }
      ]
    },
    "Randomise Card": {
      "Type": "Task",
      "Resource": "${randomiseCardArn}",
      "Parameters": {
        "title.$": "$[0].title",
        "text.$": "$[1].text",
        "cardType.$": "$[1].cardType"
      },
      "ResultSelector": {
        "card.$": "$.card",
        "imageName.$": "$.imageName"
      },
      "Next": "Generate Card"
    },
    "Generate Card": {
      "Type": "Task",
      "InputPath": "$.card",
      "Resource": "${generateCardArn}",
      "ResultPath": "$.cardKey",
      "Next": "Upload Card"
    },
    "Upload Card": {
      "Type": "Task",
      "Resource": "${uploadCardArn}",
      "End": true
    },
    "Failure": {
      "Type": "Fail",
      "Cause": "An invalid command was entered"
    }
  }
}
