packages/terraform/state_machine.asl.json
{
  "StartAt": "Generate Data",
  "States": {
    "Generate Data": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Generate Title",
          "States": {
            "Generate Title": {
              "Type": "Task",
              "Resource": "${generateTitleArn}",
              "ResultPath": "$.title",
              "End": true
            }
          }
        },
        {
          "StartAt": "Generate Text",
          "States": {
            "Generate Text": {
              "Type": "Task",
              "Resource": "${generateTextArn}",
              "End": true
            }
          }
        }
      ],
      "Next": "Combine Data",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Failure"
        }
      ]
    },
    "Combine Data": {
      "Type": "Pass",
      "Parameters": {
        "title.$": "$[0].title",
        "text.$": "$[1].text",
        "cardType.$": "$[1].cardType"
      },
      "End": true
    },
    "Failure": {
      "Type": "Fail",
      "Cause": "An invalid command was entered"
    }
  }
}
